################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/holbertonschool-low_level_programming/FileContentIndex
